<header>
    <ul>
        <li><a routerLink="/home"><img class="Img1" src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/restaurant-sharp-512.png" alt=""></a></li>
        <div class="Registration">
        <li><a routerLink="/Registration">Registration</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a (click)="LogOut()">Log Out</a></li>
        </div>
        <li><a ></a></li>
    </ul>
    <div routerLink="/basket"><img class="Img1" src="https://cdn3.iconfinder.com/data/icons/font-awesome-solid/576/basket-shopping-512.png" alt=""></div>
</header>
