<div class="ThatParent">
    <div class="Parrent3">
    <div class="categories" (click)="GetCatergory1()">
    <button class="Button2">Categories</button>

    <div class="THEParrent" *ngFor="let el of CategoryGet3">
        <div class="ButtonParrent">
            <h3 class="Button3" (click)="FilterProductsLocally(el.id)">{{el.name}}</h3>
        </div>
    </div>
        <button class="Button4" (click)="ReturnToOriginal()">All</button>
</div>

</div>


<div class="Parent">
    <div class="CardBox" *ngFor="let el of ProductsArr">
        <img [src]="el.image" alt="">
        <h1>{{el.name}}</h1>
        <h2>{{el.spiciness}} Spiciness</h2>
        <h3>{{el.price}}$</h3>
        <button class="Button1" (click)="addToBasket(el.id, el.price)">Add to Basket</button>
    </div>
</div>
</div>