.Parent{
    width: 87%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img{
        width: 250px;
    }
}
.Parrentt1{
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.clas{
    display: flex;
}
.THEParrent{
    width: 70%;
}
.ThatParent{
    display: flex;
    justify-content: space-between;
    background-color: rgb(225, 255, 150);

}

.CardBox{
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(234, 255, 176);
    .Button1{
        width: 120px;
        height: 35px;
        border: 1px solid black;
        border-radius: 10px;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;


    }
    .Button1:hover{
        transition: 0.4s;
        background-color: white;
        color: black;
    }
}
.categories{
    width: 188px;
    position: fixed;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(225, 255, 150);
    .Button2{
        width: 140px;
        height: 35px;
        background-color: white;
        color: black;
    }
}

.Button2{
    width: 120px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
}
.Button3{
    height: 45px;
    border: 1px solid rgb(111, 43, 43);
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    text-decoration: underline;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    
}
.Parrent4{
    background-color: rgb(225, 255, 150);
        position: fixed;
    height: auto;
        width: 188px;
    position: fixed;
    height: auto;

    gap: 20px;
    background-color: rgb(225, 255, 150);
    .Button2{
        width: 140px;
        height: 35px;
        background-color: white;
        color: black;
    }
}
.FilterParent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
       .inp1 {
    
    border: 2px solid black;
    border-radius: 4px;

}
    .FilterParrent1{
        width: 500px;
        height: 150px;
        background-color: rgb(35, 34, 34);
        color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        border: 1px solid black;
        .labelParent{
            display: flex;
            gap: 5px;
            justify-content: center;

        }
        .spicinessparent{
            display: flex;
            justify-content: center;
                .Spiciness1{
                height: 20px;
                background-color: red;
                border-radius: 10px;
            }
        }

        h1{
            font-size: 17px;
        }
    }
}

.FilterProductss{
    color: white;
    border: 1px solid black;
    background-color: black;
    font-size: 24px;
    cursor: pointer;
}
.filterbutton{
    width: 120px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}
.resetbutton{
        width: 120px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}
.Button4{
    width: 140px;
    height: 35px;
    background-color: white;
    color: black;
}
.Sidebar{
    display: flex;
    flex-direction: column;
    gap: 1000px;
}
.Button3:hover{
    transition: 0.4s;
    color: brown;
    text-decoration: underline white;
}
.Button4{
    cursor: pointer;
}
.Categories3{
    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width:1300px) {
    .Parent{
        grid-template-columns: 1fr 1fr;
    }
    .Button3{
        height: 40px;
        font-size: 16px;
    }
        .THEParrent{
        width: 70%;
    }
    .categories{
        width: 150px;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 0;
    }
    
}
@media screen and (max-width:1200px) {
    .Parent{
        width: 82%;
    }
}
@media screen and (max-width:900px) {
    .Parent{
        grid-template-columns: 1fr;
        width: 75%;
    }
    .categories{
        padding: 20px 0;
    }
        .FilterParrent1{
        width: 300px !important;
    }
}

@media screen and (max-width:700px) {
    .Parent{
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .Parent{
        width: 65%;
    }
    .FilterParrent1 {
        width: 190px !important;
    }
}

@media screen and (max-width:550px) {
    .categories{
        width: 118px;
          .Button2{
        width: 100px;
    }
    .FilterParrent1{
        margin-left: 43px !important;
    }
    .Button4{
        width: 100px;
    }
    }
    .CardBox{
        h1{
            font-size: 20px;
        }
    }
    .Parent{
        img{
            width: 225px;
        }
    }
  
}